<div class="container">
    <app-dropdown class="dropdown" (fontSizeOption)="fontSizeOption($event)"></app-dropdown>

    <article>
        <div>
            <span class="border"></span>
            <span class="title"> {{title}} </span>
        </div>
        
        @for (item of articles; track item.id) {
            <div class="article">
                <div class="heart-content">
                    <div class="heart" *ngFor="let item of [].constructor(item.rating.score); let i = index">
                        <img src="../../assets/image/heart.svg" alt="heart">
                    </div>

                    <div class="heart" *ngFor="let item of [].constructor(transparentHearts); let i = index">
                        <img class="heart heart-transparent" src="../../assets/image/heart.svg" alt="heart">
                    </div>
                </div>
    
                <img class="image" src="{{item.image.link.url}}" alt="music">
    
                <div class="text" [style.fontSize]="fontSize"> {{item.title}} </div>
            </div>
        }
    </article>
</div>